---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal";

.site-title::before {
	content: url("/assets/img/headshot_circle.png");
	display: inline-block;
	position: relative;
	width: 35px;
	top: 10px;
}
